doctype html
html
  head
    title hello world!
    link(rel="stylesheet", href="main.css")
  body
    p this is box 1
    div#box1.box

    p this is box 2
    div#box2.box

    p this is box 3
    div#box3.box

    p this is box 4
    div#box4

    // -----
    script(src="app.js")

